{# templates/frontoffice/userlayout.html.twig #}

{% extends "baselayout.html.twig" %}

{% block menu %}
<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">HOEA</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{  path('home') }}">Accueil</a>
					<li><a href="{{  path('circuitlist') }}">Circuits</a>
					<li><a href="{{ path('programmationlist') }}">Programmations</a></li>
					{#<li><a href="{{  path('Directeurs') }}">Directeurs</a>
					<li><a href="{{  path('Contact') }}">Contact</a>#}
				</ul>


				<div class="btn-group pull-right" >
				<a class="btn btn-default" href="{{ path('admin_home') }}" role="button">Admin</a>
				</div>
			</div>
		</nav>
{% endblock %} {# menu#}

{% block footer %}
{% endblock %}