{# templates/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/personal.css">
	<title>{% block headtitle %}Heaven On Earth Agency{% endblock %}</title>
</head>
<body>
<div style="min-height: 90%" class="container">

{% block header %}
<div class="row">
<div class="headerrow">
  <div class="col-sm-2"><img src="/images/agence-de-voyage1.jpg" height="200" width="200"/></div>
  <div class="col-sm-10"><p class="heading">{% block title %}Heaven On Earth Agency{% endblock %}</p></div>
</div>
</div>

{% endblock %} {# header #}

{% block menu %}
<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">HOEA</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{  path('home') }}">Accueil</a>
					<li><a href="{{  path('circuitlist') }}">Circuits</a>
					<li><a href="{{  path('Directeurs') }}">Directeurs</a>
					<li><a href="{{  path('Contact') }}">Contact</a>
				</ul>


				<div class="btn-group pull-right" >
				<a class="btn btn-default" href="{{  path('circuitlistadmin') }}" role="button">admin</a>
				</div>
			</div>
		</nav>
{% endblock %} {# menu#}

{% block body %}
{% endblock %} {# body #}



	</div>	<!-- /.container -->

	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
